################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ScholarShip/ScholarShip/App_Data/ScholarShipDb.mdf
/ScholarShip/ScholarShip/App_Data/ScholarShipDb_log.ldf
